<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <title>后台系统</title>
  <link rel="icon" href="./favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="AdminLTE/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./AdminLTE/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./AdminLTE/theme/skins/_all-skins.min.css">
  <link rel="stylesheet" type="text/css" href="./AdminLTE/theme/AdminLTE.min.css">
  <link rel="stylesheet" href="https://img1-cdn.bianfeng.com/shield-static/shield/shield.min.css?2">
</head>
<body class="skin-green sidebar-mini">

<div id="app"></div>

  <script src="./lib/jquery-2.2.3.min.js"></script>
  <script src="https://img1-cdn.bianfeng.com/shield-static/shield/shield.min.js?2"></script>
  
  <script>
    window.oPageConfig = {
      oData: {
        BASE_URL: '/'
      }
    };
  </script>

  <!-- 测试 -->
  <script src="http://rap.imeete.com/rap.plugin.js?projectId=13"></script>

</body>
</html>